@using WebApplication2.ViewModel
@model  ParameterViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    
    ParameterView

}

@section ContentBody{

    <div>
        <table border="1">
            <tr>
                <th>Parameter Name</th>
                <th>Parameter ID</th>
            </tr>
            
        </table>

    </div>    
    
}
